<%= turbo_frame_tag "cart_items" do %>
  <% if session[:cart].any? %>
    <h1>Cart</h1>
    <%= render partial: "cart/cart_items", locals: { cart: session[:cart] } %>
  <% else %>
    <%= render "cart/cart_empty" %>
  <% end %>
<% end %>

<% if session[:cart].any? %>
  <div class="d-flex justify-content-between">
    <%= turbo_frame_tag "cart_count" do %>
      <%= render partial: "cart/cart_count", locals: { cart_count: session[:cart].values.sum } %> items
    <% end %>
    <%= turbo_frame_tag "total-price" do %>
      <%= render partial: "cart/total_price", locals: { total_price: @total_price } %>
    <% end %>
  </div>

  <%= button_to "Place order", clear_cart_path, method: :delete, remote: true, class: "btn btn-success w-100" %>
<% end %>